* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  color: #001f3e;
}
.kdContainer {
  display: flex;
}
.left {
  /* background: rgba(255, 0, 0, 0.479); */
  margin: 5rem;
  position: fixed;
  top: 0;
  z-index: 2;
}
.margin-5 {
  margin: 5rem;
}
ul {
  position: relative;
  /* transform: skewY(-15deg); */
  transition: 0.5s;
}
ul li {
  position: relative;
  list-style: none;
  width: 200px;
  margin-bottom: 25px;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
  /* color: #001f3e; */
  border-radius: 50px;
  background: var(--main-bg-color);
  backdrop-filter: blur(15px);
  box-shadow: rgb(190 190 190 / 50%) 8px 9px 20px,
    rgb(255 255 255 / 49%) -8px -8px 20px;
}

.tdBox:hover::after {
  background: #2982b9;
}

.tdBox::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 25px;
  background: #35383e;
  background: #c1c1c1;
  left: 0;
  top: -25px;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.tdBox:hover::before {
  background: #1f5378;
}
.tdBox::before {
  content: "";
  z-index: -3;
  position: absolute;
  width: 25px;
  height: 100%;
  background: #2e3133;
  left: -25px;
  top: 0;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
.tdBox:hover {
  background: #33a3ee;
  transform: translateX(-20px);
}
.tdBox:hover a {
  color: #232325 !important;
}
ul li:hover a {
  text-decoration: underline;
  color: unset;
}
ul li a {
  text-decoration: none;
  /* color: #000000; */
  color: unset;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
  /* text-shadow: 2px 4px 7px rgb(82, 82, 82);
  text-shadow: 0px 0px 4px rgb(0 0 0); */
}

.tdBox a:hover {
  color: rgb(0, 0, 0);
}
.right {
  /* background: rgba(255, 0, 0, 0.301); */
  width: 100%;
  margin: 5rem;
}
.margincal {
  /* margin-left: calc(232px + 15rem); */
  margin-left: 22vw;
}

.containerBox {
  padding: 15px;
  width: 100%;
  border-radius: 50px;
  backdrop-filter: blur(15px);
  overflow: hidden;
  background-color: var(--main-bg-color);
  box-shadow: rgb(190 190 190 / 50%) 8px 9px 20px,
    rgb(255 255 255 / 49%) -8px -8px 20px;
}

.avatar {
  width: 210px !important;
  height: 210px !important;
  padding: 0;
  opacity: 0.97;
  border: 1px solid black;
  /* background: url(src/Assets/avatar.png); */
}

.leftCB {
  width: 50%;
  margin: 4rem;
  flex-direction: column;
  align-items: center;
}

.themeDots {
  padding: 10px;
}

.themeDots .dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}
.rightCB {
  width: 50%;
  margin: 3rem;
}

/* 3. */

.leftBox {
  /* border: 1px solid black; */
  margin-bottom: 1em;
  border-radius: 50px;
  padding: 2rem;
  /* width: 386px; */
  box-shadow: rgb(190 190 190 / 50%) 8px 9px 20px,
    rgb(255 255 255 / 49%) -8px -8px 20px;
}
.bShadow-1 {
  padding: 1rem;
  border-radius: 30px;
  /* background: #e0e0e0; */
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
  box-shadow: inset -1px 0px 20px 0px #cfcccc69;
}

.ll {
  margin-right: 30px;
  border-radius: 30px;
  display: flex;
  min-width: 86px !important;
  position: relative;
  align-items: flex-end;
  background: var(--main-bg-color);
  backdrop-filter: blur(15px);
  box-shadow: rgb(190 190 190 / 50%) 8px 9px 20px,
    rgb(255 255 255 / 49%) -8px -8px 20px;
}

.ll h4 {
  transform: rotate(-90deg);
  min-width: 150px;
  position: absolute;
  bottom: 84px;
  right: -17px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}
.a1234 {
  font-size: 2.9rem;
  position: relative;
  top: 17px;
  right: 10px;
}
.selectedNav {
  border-radius: 50px;

  /* background: linear-gradient(145deg, #cacaca, #f0f0f0) !important; */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff !important;
  border-left: 9px solid rgb(197, 197, 197);
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
  position: relative;
  left: 33px;
}

/* project section */

.containerBox {
  border: none;
}

.containerBox > img {
  /* border-bottom: 1px solid gray; */
}

.card-img-top {
  border-radius: 30px 30px 0 0;
  min-height: 219px;
}

/* card */

.card {
  background-color: unset;
}

.btn-secondary {
  border-radius: 24px;
}

.themeDots .selectedDot {
  scale: 1.3;
  border: 3px solid black;
}

.themeDots .selectedDot > span {
  font-size: 2rem;
  font-weight: bolder;
  color: #686868;
  position: relative;
  text-shadow: 2px 2px 3px black;
  bottom: 2px;
  right: 2px;
}
.themeDots .dot:hover {
  scale: 1.3;
  border: 3px solid black;
}
.themeDots .dot {
  transition: all 0.25s ease-in-out;

  box-shadow: 0 0 10px #fff;
}

.impLinks a > img {
  width: 30px;
  box-shadow: 0 0 10px #fff;
  background-color: rgba(255, 255, 255, 0.518);
  border-radius: 23px;
}

.menuIcon {
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 10px;
}
